<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Flashcards</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="header-controls">
        <h1 style="font-size: 36px; font-weight: bold;">Flashcards</h1>
        <div>
            <button id="downloadTemplateButton" class="button button-secondary" onclick="downloadTemplate()">Download Template</button>
            <button id="downloadCurrentButton" class="button button-secondary" style="display: none;" onclick="downloadCurrent()">Download Current</button>
        </div>
    </div>   

    <div class="controls-container">
        <label id="fileInputLabel" class="button button-primary" for="fileInput">Choose File</label>
        <button id="nextRoundButton" class="button button-primary" style="display:none;" onclick="startNewRound()">Next Round</button>
        <button id="shuffleButton" class="button button-secondary" style="display:none;" onclick="shuffleQuestions()">Reload list</button>

        <button id="settingsButton" class="icon-button" style="display:none;" onclick="toggleSettingsPopup()">
            <i class="fa fa-cog"></i>
        </button>

        <div class="teller-container" style="display: none;">
            <div class="teller-item">
                <span>Loaded Questions</span>
                <div id="loadedQuestions">0</div>
            </div>
            <div class="teller-item">
                <span>Done This Round</span>
                <div id="doneThisRound">0</div>
            </div>
            <div class="teller-item">
                <span>Total of Questions</span>
                <div id="totalQuestions">0</div>
            </div>
        </div>
    </div>
    
<!-- Instellingen Knop -->
<button id="settingsButton" class="icon-button">
    <i class="fa fa-cog"></i>
</button>

<!-- Popup Achtergrond -->
<div id="settingsPopupBackdrop" class="hidden"></div>

<!-- Instellingen Popup -->
<div id="settingsPopup" class="settings-popup hidden">
    <button class="close-popup" onclick="toggleSettingsPopup()">×</button> <!-- Sluitknop rechtsboven -->
    <h3 style="text-align: center; font-size: 16px; color: #333;">Settings</h3>
    <div class="input-container">
        <label for="percentageInput">Correct %:</label>
        <input type="number" id="percentageInput" name="percentageInput" min="0" max="100" value="0">
    </div>

    <div class="input-container">
        <label for="questionCountInput">Questions:</label>
        <input type="number" id="questionCountInput" name="questionCountInput">
    </div>

    <div class="input-container">
        <label for="categorySelect">Categories:</label>
        <select id="categorySelect" name="categorySelect" multiple>
            <!-- Categorieën worden hier dynamisch geladen -->
        </select>
    </div>
</div>



    <button onclick="startNewRound()">Apply</button>
    
    <input type="file" id="fileInput" onchange="uploadFile()" style="display:none;">
    <div id="flashcards"></div> <!-- De flashcards worden hier weergegeven -->
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>

</body>
</html>
